.cuerpo{
    margin-top: 185px;
}
.cuerpo h2{
    margin-left: 80px;
    font-family: "Roboto Condensed", sans-serif;
}
.cuerpo h4{
    margin-left: 100px;
    font-family: "Roboto Condensed", sans-serif;
}
.cuerpo a{
    text-align: left;
    margin-left: 20px;
    font-size: 15px;
    color: black;
    text-decoration: none;
    font-weight: bold; 
}
.titulo {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px 20px;
  margin: 0 120px 0 50px;
}
.titulo h2 {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 0;
}
.titulo h2 img {
  margin-right: 10px; 
}
.acciones {
  display: flex;
  align-items: center;
  margin: 0;
}
#carrito a {
  display: flex;
  align-items: center;
  gap: 5px; 
  text-decoration: none;
  color: black;
  font-size: 16px;
}
.buscar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 130px 0 50px;
}
.barra_busqueda{
    margin-left: 760px;
    gap: 2px;
}
.barra_busqueda button {
    border-radius: 15px;
    background-color: #f5f5f5;
    border: 1px solid #cecdcd;
}
.barra_busqueda button img{
    margin-top: 3px;
}
#busqueda {
    padding: 7px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    width: 250px;
    border: 1px solid #cecdcd;
}

/*Modal Categorias*/
.categorias{
    display: none;
    position: fixed;
    z-index: 1500;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.categorias a{
    text-decoration: none;
    color: black;
}
.categorias a:hover{
    text-decoration: underline;
}
.categorias_catalogo{
    background-color: #f5f5f5;
    border: 2px solid #cecdcd;
    margin-top: 100px;
    padding: 30px;
    width: 90%;       
    max-width: 400px; 
    height: 500px;
    box-sizing: border-box;
}
.cerrar {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.decorativa {
  border: none;               
  height: 3px;                
  background: linear-gradient(to right, #4facfe, #00f2fe); 
  border-radius: 5px;         
  margin: 15px 0;
}

/*Productos*/
.productos{
    display: grid;
    grid-column: span 4;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
    margin-right: 80px;
    margin-left: 80px;
    margin-bottom: 30px;
}
.producto{
    background: #f5f5f5;
    color: black;
    border-radius: 13px;
    padding: 10px 10px 0 10px;
    width: 260px;
    gap: 15px;
    margin-bottom: 20px;
}
.producto label{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 15px;
    font-weight: bold; 
}
.titulo_producto{
    width: 250;
    height: 30px;
}
.imagen{
    display: flex;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.productos p {
    font-family: "Raleway", sans-serif;
    text-align: center;
    line-height: 1.2;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 13px;
}
.tag{
    font-size: 1px;
    color: #EEEEEE;

}
.precio{
   font-family: "Raleway", sans-serif;
    text-align: left;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px; 
    font-weight: bold; 
    color: #C20001;
}
.descripcion_producto{
    height: 30px;
}
.productos button{
    border-radius: 7px;
    border: 1px solid white;
    color: white;
    background-color: #C20001;
    font-weight: bold; 
    margin-top: 15px;
    margin-left: 80px;
    width: 160px;
    height: 50px;
}
.producto a{
    display: block;
    text-align: right;
    margin-right: 15px;
    font-size: 12px;
    color: #000066;
    text-decoration: none; 
}

/*Modal Productos*/
.ver_mas {
    display: none;
    position: fixed;
    z-index: 1500;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.detalles {
    background-color: #fff;
    margin: 10% auto;
    padding: 30px;
    width: 90%;       
    max-width: 520px; 
    border-radius: 10px;
    box-sizing: border-box;
}
.cerrar {
    float: right;
    font-size: 24px;
    cursor: pointer;
}
.detalles p {
    font-family: "Raleway", sans-serif;
    text-align: center;
    line-height: 1.2;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
}
.detalles label {
    font-family: "Raleway", sans-serif;
    text-align: center;
    line-height: 1.2;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
}
.detalles input{
    padding: 7px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    width: 250px;
    border: 1px solid #cecdcd;
    margin-right: 5px;
}
.accciones{
    display: flex;
    flex-direction: row;
}
.detalles label button{
    padding: 7px;
    border-radius: 7px;
    border: 1px solid white;
    color: black;
    background-color:#949292;
    font-weight: bold; 
    margin-left: 100px;
    margin-top: 15px;
}

