/*Formulario Iniciar Sesión*/
.contenido{
    margin: 18% 0 5% 0;
    display: grid;
    grid-column: span 2;
    grid-template-columns: repeat(2, 1fr);
}
.seccion img{
    margin-top: 50px;
}
.cajas{
    background: #f5f5f5;
    color: black;
    border-radius: 13px;
    margin-right: 50px;
    padding: 10px;
}
.cajas h2{
    text-align: center;
}
.cajas input{
    display: block;
    margin: 10px auto;
    text-align: left;
    padding: 12px;
    color: #666666;
    border: 1px solid gray;
    width: 450px;
    border-radius: 7px;
}
.cajas button{
    display: block;
    margin: 10px auto;
    padding: 7px;
    border: 1px solid white;
    border-radius: 7px;
    color: white;
    background-color: #C20001;
    font-weight: bold; 
}
.cajas a{
    display: block;
    text-align: center;
    font-size: 13px;
    color: #000066;
    text-decoration: none;
}
.separador{
    border: none;           
    height: 1px;            
    background-color: gray; 
    width: 80%;             
    margin: 20px auto;    
}

/*Modal Olvide mi contraseña*/
.modal_contraseña {
  display: none;
  position: fixed;
  z-index: 1500;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}
.cambio_contraseña {
  background-color: #fff;
  margin: 10% auto;
  padding: 30px;
  width: 90%;       
  max-width: 520px; 
  border-radius: 10px;
  box-sizing: border-box;
}
.cerrar {
  float: right;
  font-size: 24px;
  cursor: pointer;
}

.modal_contraseña h3{
    text-align: center;
}
.contenido_2 input{
    text-align: left;
    padding: 12px;
    border: 1px solid gray;
    width: 300px;
    border-radius: 7px;
    margin-left: 30px;
    margin-top: 10px;
}
.contenido_2 button{
    padding: 7px;
    border-radius: 7px;
    border: 1px solid white;
    color: white;
    background-color: #C20001;
    font-weight: bold; 
}
.pin input{
    text-align: center;
    padding: 12px;
    border: 1px solid gray;
    width: 30px;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 10px;
}
.pin {
    margin-left: 30px;
}
.contraseña input{
    text-align: left;
    padding: 12px;
    border: 1px solid gray;
    width: 380px;
    border-radius: 7px;
    margin-left: 30px;
    margin-top: 10px;
}
.contraseña button{
    padding: 7px;
    border-radius: 7px;
    border: 1px solid white;
    color: white;
    background-color: #C20001;
    font-weight: bold; 
    margin-top: 7px;
    margin-left: 370px;
}

