body{
    background-color: #C20001;
    font-family: "Roboto Condensed", sans-serif;
}
#img1{
    display: block; 
    margin: 10px auto;  
}
.contenido{
    display: grid;
    grid-column: span 1;
    background-color: white;
    border-radius: 7px;
    margin-left: 400px;
    margin-right: 400px;
}
.contenido h3{
    text-align: center;
    margin-top: 15px;
}
.contenido input{
    display: block;
    margin: 7px auto;
    text-align: left;
    padding: 12px;
    color: #666666;
    border: 1px solid gray;
    width: 450px;
    border-radius: 7px;
}
.contenido label{
    margin-left: 35px;
    margin-top: 10px;
    font-family: "Raleway", sans-serif;
}
.fecha_nacimiento{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    margin-left: 20px;
}
.fecha_nacimiento input{
    text-align: left;
    padding: 12px;
    color: #666666;
    border: 1px solid gray;
    width: 75px;
    border-radius: 7px;
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 10px;
}
.fecha_nacimiento select{
    text-align: left;
    padding: 12px;
    margin-top: 10px;
    color: #666666;
    border: 1px solid gray;
    width: 150px;
    border-radius: 7px;
    margin-left: 15px;
}
.cuenta input{
    display: block;
    margin: 7px auto;
    text-align: left;
    padding: 12px;
    color: #666666;
    border: 1px solid gray;
    width: 450px;
    border-radius: 7px;
    margin-top: 10px;
}
.contenido button{
    display: block;
    margin: 10px auto;
    padding: 12px;
    border: 1px solid white;
    border-radius: 7px;
    color: white;
    background-color: black;
    font-weight: bold; 
    width: 200px;
}
.contenido a{
    display: block;
    text-align: center;
    font-size: 13px;
    color: #000066;
    text-decoration: none;
    padding: 15px;
}


