.contenido {
    margin-top: 200px;
    display: grid;
}
.contenido h2{
    margin-left: 60px
}
.contenido h3{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 90px;
    line-height: 1.5;
    text-align: center;
    font-style: italic;
}
.descripcion_ser {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}
.descripcion_ser img{
    margin-top: 100px;
}
.descripcion_ser p{
    margin-top: 10px;
    font-family: "Raleway", sans-serif;
    text-align: justify;
    line-height: 1.5;
    margin-left: 50px;
    margin-right: 60px;
}
.contenido h4{
    margin-top: 40px;
}
.contenido_3 {
    display: grid;
    grid-column: span 2;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 80px;
}
.puntos ul li{
    grid-column: span 1;
    font-family: "Raleway", sans-serif;
    text-align: justify;
    line-height: 1.5;
    margin-right: 80px;
}
.contenido_4 {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}
#subtitulo{
    margin-top: 40px;
    margin-left: 80px;
}
#bene {
    font-family: "Raleway", sans-serif;
    text-align: justify;
    margin-top: 5px;
    margin-right: 80px;
    margin-left: 40px;
}
.contenido a{
    display: block;
    color: #000066;
    text-decoration: none;
    padding: 13px;
    margin-left: 80px;
    margin-top: 20px;
}